/* make body and root height 100% */
body > #root > div {
	height: 100vh;
}

/* This controls largely the entire background I think*/
.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	background-color: rgb(0, 0, 0);
}

/* changes the style of the button tag in App.js in render*/
.App > button {
	display: grid;
	place-items: center;
	border-radius: 99px;
	padding: 10px;
	background-color: #1db954; /* spotify colors*/
	color: white;
	text-decoration: none;
}

/* This changes all the font colors with the div tag to white so it contrasts background*/
.App > div {
	color: white;
}

.loginPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* controls the image properties in Login.js*/
.loginPhoto > img {
	padding: 20px;
	height: 100px;
}

/* controls the login button properties in Login.js*/
.loginButton > a {
	display: grid;
	place-items: center;
	padding: 20px;
	border-radius: 99px;
	background-color: #1db954;
	font-weight: 800;
	color: white;
	text-decoration: none;
}

/* controls the login button properties in Login.js*/
.loginButton > p {
	display: grid;
	place-items: center;
	font-size: 30px;
}

/* controls for the format of the content for the GUI */
.GUI_content_format {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* controls for the format for the algorithm */
.generatePlaylist {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	margin: 10px;
	padding: 10px;
}

input {
	display: grid;
	place-items: center;
	border-radius: 99px;
	background-color: #1db954; /* spotify colors*/
	color: white;
	text-decoration: none;
}

/*controls for the nowPlaying section of the GUI */
.nowPlaying {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	margin: 10px;
	padding: 10px;
}

.nowPlaying > button {
	display: grid;
	place-items: center;
	border-radius: 99px;
	padding: 10px;
	background-color: #1db954; /* spotify colors*/
	color: white;
	text-decoration: none;
}

/* controls the playlist properties in Login.js*/
/* set to gray color for now to differentiate this component*/
.playlist {
	display: flex;
	width: 100%;
	background-color: gray;
}

.playlist > li {
	font-size: 15px;
}

.playlist > img {
	height: 100px;
}

.selectGenre {
	display: flex;
	justify-content: center;
}

.selectGenre > form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.displayNewList {
	display: flex;
	justify-content: center;
}
