.App {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: rgb(208, 109, 109);
}

.loginPhoto > img {
	padding: 20px;
}

.loginButton > a {
	display: grid;
	place-items: center;
	padding: 20px;
	border-radius: 99px;
	background-color: #1db954;
	font-weight: 800;
	color: white;
	text-decoration: none;
}
